@page "/chat"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@attribute [StreamRendering]
@inject IChatService ChatService
@inject IAnalyticsService AnalyticsService
@implements IAsyncDisposable

<PageTitle>true:chat:room</PageTitle>

<h3>true:chat:room</h3>

<MudDivider Class="my-2"/>

<div class="container">
    <MudPaper 
        Class="messages object-fit-fill"
        Elevation="0">
        @if (_messages is null || !IsConnected)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
        }
        else
        {
            @foreach (var message in _messages)
            {
                <ChatMessageCard Message="message"/>
            }
        }
    </MudPaper>

    <EditForm 
        Model="FormMessage" 
        OnSubmit="Send">
        <div class="d-flex">
            <DataAnnotationsValidator/>
            <MudTextField
                Class="mx-1"
                @bind-Value="@FormMessage!.Nickname"
                For="@(() => FormMessage!.Nickname)"
                Label="Nickname"
                Variant="Variant.Outlined"
                InputType="InputType.Text"/>
            <MudTextField
                Class="mx-1"
                @bind-Value="@FormMessage!.Text"
                For="@(() => FormMessage!.Text)"
                Label="Message"
                Variant="Variant.Outlined"
                InputType="InputType.Text"
                Adornment="Adornment.End"
                AdornmentIcon="@Icons.Material.Filled.Send"
                Disabled="!IsConnected"
                OnAdornmentClick="Send"/>
            <MudButton
                hidden="true"
                ButtonType="ButtonType.Submit">
            </MudButton>
        </div>
    </EditForm>
</div>

@code {
    private HubConnection? _hubConnection;
    private List<ChatMessage>? _messages;

    [SupplyParameterFromForm] 
    public FormMessage? FormMessage { get; set; }

    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        FormMessage ??= new FormMessage();
        _messages = (await ChatService.GetMessagesAsync()).ToList();
        _messages.Reverse();
        
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7145/chat-hub")
            .Build();

        _hubConnection.On<ChatMessage>("ReceiveMessage", chatMessage =>
        {
            _messages!.Insert(0, chatMessage);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    public async Task Send()
    {
        if (_hubConnection is not null)
        {
            var sentiment = await AnalyticsService.GetSentiment(FormMessage!.Text!);
            
            var chatMessage = new ChatMessage(
                FormMessage!.Text, 
                FormMessage.Nickname, 
                DateTimeOffset.UtcNow,
                sentiment);
            
            FormMessage.Text = string.Empty;
            await _hubConnection!.SendAsync("SendMessage", chatMessage);
            await ChatService.AddMessageAsync(chatMessage);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}