@rendermode @(new InteractiveWebAssemblyRenderMode())

<div style="margin: 0.25rem">
    <MudStack
        Row
        Spacing="0"
        AlignItems="AlignItems.Center"
        Justify="Justify.FlexStart">
        <MudBadge
            Color="@Color"
            Overlap="true"
            Bordered="true">
            <MudPaper
                Class="message-box"
                Elevation="0">
                <MudStack 
                    Row 
                    AlignItems="AlignItems.Center"
                    Spacing="0">
                    <MudChip 
                        T="string"
                        Size="Size.Small">
                        @Message!.Nickname
                    </MudChip>
                    <MudText>
                        @Message!.Text
                    </MudText>
                </MudStack>
            </MudPaper>
        </MudBadge>
        <MudText
            Class="message-box-time"
            Typo="Typo.caption">
            @Message!.SendAt.ToLocalTime().ToString("HH:mm")
        </MudText>
    </MudStack>
</div>

@code {
    [Parameter] public ChatMessage? Message { get; set; }
    
    [Parameter] public Color Color { get; set; }
}